// custom setup code goes here
$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;


$custom-000: #c391f8;
$custom-100: #a967f9;
$custom-200: #944ee9;
$custom-300: #762cdd;